# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/android/app/.cxx/Debug/4a1t4t60/arm64-v8a/additional_project_files.txt
/android/app/.cxx/Debug/4a1t4t60/armeabi-v7a/additional_project_files.txt
/android/app/.cxx/Debug/4a1t4t60/x86/additional_project_files.txt
/android/app/.cxx/Debug/4a1t4t60/x86_64/additional_project_files.txt
/android/app/.cxx/Debug/4a1t4t60/arm64-v8a/android_gradle_build.json
/android/app/.cxx/Debug/4a1t4t60/armeabi-v7a/android_gradle_build.json
/android/app/.cxx/Debug/4a1t4t60/x86/android_gradle_build.json
/android/app/.cxx/Debug/4a1t4t60/x86_64/android_gradle_build.json
/android/app/.cxx/Debug/4a1t4t60/arm64-v8a/android_gradle_build_mini.json
/android/app/.cxx/Debug/4a1t4t60/armeabi-v7a/android_gradle_build_mini.json
/android/app/.cxx/Debug/4a1t4t60/x86/android_gradle_build_mini.json
/android/app/.cxx/Debug/4a1t4t60/x86_64/android_gradle_build_mini.json
/android/app/.cxx/Debug/4a1t4t60/arm64-v8a/build.ninja
/android/app/.cxx/Debug/4a1t4t60/armeabi-v7a/build.ninja
/android/app/.cxx/Debug/4a1t4t60/x86/build.ninja
/android/app/.cxx/Debug/4a1t4t60/x86_64/build.ninja
/android/app/.cxx/Debug/4a1t4t60/arm64-v8a/build_file_index.txt
/android/app/.cxx/Debug/4a1t4t60/armeabi-v7a/build_file_index.txt
/android/app/.cxx/Debug/4a1t4t60/x86/build_file_index.txt
/android/app/.cxx/Debug/4a1t4t60/x86_64/build_file_index.txt
/android/app/.cxx/Debug/4a1t4t60/arm64-v8a/.cmake/api/v1/query/client-agp/cache-v2
/android/app/.cxx/Debug/4a1t4t60/armeabi-v7a/.cmake/api/v1/query/client-agp/cache-v2
/android/app/.cxx/Debug/4a1t4t60/x86/.cmake/api/v1/query/client-agp/cache-v2
/android/app/.cxx/Debug/4a1t4t60/x86_64/.cmake/api/v1/query/client-agp/cache-v2
/android/app/.cxx/Debug/4a1t4t60/x86/.cmake/api/v1/reply/cache-v2-6a9f29232d84ae23e9ff.json
/android/app/.cxx/Debug/4a1t4t60/x86_64/.cmake/api/v1/reply/cache-v2-60ca5826acfe48441bb6.json
/android/app/.cxx/Debug/4a1t4t60/armeabi-v7a/.cmake/api/v1/reply/cache-v2-45698cf2ee23af676b98.json
/android/app/.cxx/Debug/4a1t4t60/arm64-v8a/.cmake/api/v1/reply/cache-v2-ead67adff9cb150013ee.json
/android/app/.cxx/Debug/4a1t4t60/arm64-v8a/CMakeFiles/cmake.check_cache
/android/app/.cxx/Debug/4a1t4t60/armeabi-v7a/CMakeFiles/cmake.check_cache
/android/app/.cxx/Debug/4a1t4t60/x86/CMakeFiles/cmake.check_cache
/android/app/.cxx/Debug/4a1t4t60/x86_64/CMakeFiles/cmake.check_cache
/android/app/.cxx/Debug/4a1t4t60/arm64-v8a/cmake_install.cmake
/android/app/.cxx/Debug/4a1t4t60/armeabi-v7a/cmake_install.cmake
/android/app/.cxx/Debug/4a1t4t60/x86/cmake_install.cmake
/android/app/.cxx/Debug/4a1t4t60/x86_64/cmake_install.cmake
/android/app/.cxx/Debug/4a1t4t60/arm64-v8a/CMakeCache.txt
/android/app/.cxx/Debug/4a1t4t60/armeabi-v7a/CMakeCache.txt
/android/app/.cxx/Debug/4a1t4t60/x86/CMakeCache.txt
/android/app/.cxx/Debug/4a1t4t60/x86_64/CMakeCache.txt
/android/app/.cxx/Debug/4a1t4t60/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CMakeCCompiler.cmake
/android/app/.cxx/Debug/4a1t4t60/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CMakeCCompiler.cmake
/android/app/.cxx/Debug/4a1t4t60/x86/CMakeFiles/3.22.1-g37088a8/CMakeCCompiler.cmake
/android/app/.cxx/Debug/4a1t4t60/x86_64/CMakeFiles/3.22.1-g37088a8/CMakeCCompiler.cmake
/android/app/.cxx/Debug/4a1t4t60/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.c
/android/app/.cxx/Debug/4a1t4t60/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.c
/android/app/.cxx/Debug/4a1t4t60/x86/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.c
/android/app/.cxx/Debug/4a1t4t60/x86_64/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.c
/android/app/.cxx/Debug/4a1t4t60/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.o
/android/app/.cxx/Debug/4a1t4t60/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.o
/android/app/.cxx/Debug/4a1t4t60/x86/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.o
/android/app/.cxx/Debug/4a1t4t60/x86_64/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.o
/android/app/.cxx/Debug/4a1t4t60/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CMakeCXXCompiler.cmake
/android/app/.cxx/Debug/4a1t4t60/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CMakeCXXCompiler.cmake
/android/app/.cxx/Debug/4a1t4t60/x86/CMakeFiles/3.22.1-g37088a8/CMakeCXXCompiler.cmake
/android/app/.cxx/Debug/4a1t4t60/x86_64/CMakeFiles/3.22.1-g37088a8/CMakeCXXCompiler.cmake
/android/app/.cxx/Debug/4a1t4t60/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.cpp
/android/app/.cxx/Debug/4a1t4t60/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.cpp
/android/app/.cxx/Debug/4a1t4t60/x86/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.cpp
/android/app/.cxx/Debug/4a1t4t60/x86_64/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.cpp
/android/app/.cxx/Debug/4a1t4t60/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.o
/android/app/.cxx/Debug/4a1t4t60/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.o
/android/app/.cxx/Debug/4a1t4t60/x86/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.o
/android/app/.cxx/Debug/4a1t4t60/x86_64/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.o
/android/app/.cxx/Debug/4a1t4t60/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_C.bin
/android/app/.cxx/Debug/4a1t4t60/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_C.bin
/android/app/.cxx/Debug/4a1t4t60/x86/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_C.bin
/android/app/.cxx/Debug/4a1t4t60/x86_64/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_C.bin
/android/app/.cxx/Debug/4a1t4t60/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_CXX.bin
/android/app/.cxx/Debug/4a1t4t60/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_CXX.bin
/android/app/.cxx/Debug/4a1t4t60/x86/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_CXX.bin
/android/app/.cxx/Debug/4a1t4t60/x86_64/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_CXX.bin
/android/app/.cxx/Debug/4a1t4t60/arm64-v8a/.cmake/api/v1/query/client-agp/cmakeFiles-v1
/android/app/.cxx/Debug/4a1t4t60/armeabi-v7a/.cmake/api/v1/query/client-agp/cmakeFiles-v1
/android/app/.cxx/Debug/4a1t4t60/x86/.cmake/api/v1/query/client-agp/cmakeFiles-v1
/android/app/.cxx/Debug/4a1t4t60/x86_64/.cmake/api/v1/query/client-agp/cmakeFiles-v1
/android/app/.cxx/Debug/4a1t4t60/arm64-v8a/.cmake/api/v1/reply/cmakeFiles-v1-2989927f6c4ce2dd82d6.json
/android/app/.cxx/Debug/4a1t4t60/armeabi-v7a/.cmake/api/v1/reply/cmakeFiles-v1-aaca274303eb5a9f9043.json
/android/app/.cxx/Debug/4a1t4t60/x86/.cmake/api/v1/reply/cmakeFiles-v1-c3bcda872c9e30c823bf.json
/android/app/.cxx/Debug/4a1t4t60/x86_64/.cmake/api/v1/reply/cmakeFiles-v1-dd8bb881b8f498efe19d.json
/android/app/.cxx/Debug/4a1t4t60/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CMakeSystem.cmake
/android/app/.cxx/Debug/4a1t4t60/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CMakeSystem.cmake
/android/app/.cxx/Debug/4a1t4t60/x86/CMakeFiles/3.22.1-g37088a8/CMakeSystem.cmake
/android/app/.cxx/Debug/4a1t4t60/x86_64/CMakeFiles/3.22.1-g37088a8/CMakeSystem.cmake
/android/app/.cxx/Debug/4a1t4t60/arm64-v8a/.cmake/api/v1/query/client-agp/codemodel-v2
/android/app/.cxx/Debug/4a1t4t60/armeabi-v7a/.cmake/api/v1/query/client-agp/codemodel-v2
/android/app/.cxx/Debug/4a1t4t60/x86/.cmake/api/v1/query/client-agp/codemodel-v2
/android/app/.cxx/Debug/4a1t4t60/x86_64/.cmake/api/v1/query/client-agp/codemodel-v2
/android/app/.cxx/Debug/4a1t4t60/x86/.cmake/api/v1/reply/codemodel-v2-4eb374f1ded593456208.json
/android/app/.cxx/Debug/4a1t4t60/x86_64/.cmake/api/v1/reply/codemodel-v2-64e80940c78b1f8ea2e4.json
/android/app/.cxx/Debug/4a1t4t60/arm64-v8a/.cmake/api/v1/reply/codemodel-v2-91b2f5666a8fdbf969ad.json
/android/app/.cxx/Debug/4a1t4t60/armeabi-v7a/.cmake/api/v1/reply/codemodel-v2-b7963d8da3f1bd584da9.json
/android/app/.cxx/Debug/4a1t4t60/arm64-v8a/configure_fingerprint.bin
/android/app/.cxx/Debug/4a1t4t60/armeabi-v7a/configure_fingerprint.bin
/android/app/.cxx/Debug/4a1t4t60/x86/configure_fingerprint.bin
/android/app/.cxx/Debug/4a1t4t60/x86_64/configure_fingerprint.bin
/android/app/.cxx/Debug/4a1t4t60/arm64-v8a/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/android/app/.cxx/Debug/4a1t4t60/armeabi-v7a/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/android/app/.cxx/Debug/4a1t4t60/x86/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/android/app/.cxx/Debug/4a1t4t60/x86_64/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/android/app/.cxx/Debug/4a1t4t60/hash_key.txt
/android/app/.cxx/Debug/4a1t4t60/arm64-v8a/.cmake/api/v1/reply/index-2025-04-19T15-31-05-0882.json
/android/app/.cxx/Debug/4a1t4t60/armeabi-v7a/.cmake/api/v1/reply/index-2025-04-19T15-31-15-0609.json
/android/app/.cxx/Debug/4a1t4t60/x86/.cmake/api/v1/reply/index-2025-04-19T15-31-16-0880.json
/android/app/.cxx/Debug/4a1t4t60/x86_64/.cmake/api/v1/reply/index-2025-04-19T15-31-17-0158.json
/android/app/.cxx/Debug/4a1t4t60/arm64-v8a/metadata_generation_command.txt
/android/app/.cxx/Debug/4a1t4t60/armeabi-v7a/metadata_generation_command.txt
/android/app/.cxx/Debug/4a1t4t60/x86/metadata_generation_command.txt
/android/app/.cxx/Debug/4a1t4t60/x86_64/metadata_generation_command.txt
/android/app/.cxx/Debug/4a1t4t60/arm64-v8a/prefab_config.json
/android/app/.cxx/Debug/4a1t4t60/armeabi-v7a/prefab_config.json
/android/app/.cxx/Debug/4a1t4t60/x86/prefab_config.json
/android/app/.cxx/Debug/4a1t4t60/x86_64/prefab_config.json
/android/app/.cxx/Debug/4a1t4t60/arm64-v8a/CMakeFiles/rules.ninja
/android/app/.cxx/Debug/4a1t4t60/armeabi-v7a/CMakeFiles/rules.ninja
/android/app/.cxx/Debug/4a1t4t60/x86/CMakeFiles/rules.ninja
/android/app/.cxx/Debug/4a1t4t60/x86_64/CMakeFiles/rules.ninja
/android/app/.cxx/Debug/4a1t4t60/arm64-v8a/symbol_folder_index.txt
/android/app/.cxx/Debug/4a1t4t60/armeabi-v7a/symbol_folder_index.txt
/android/app/.cxx/Debug/4a1t4t60/x86/symbol_folder_index.txt
/android/app/.cxx/Debug/4a1t4t60/x86_64/symbol_folder_index.txt
/android/app/.cxx/Debug/4a1t4t60/arm64-v8a/CMakeFiles/TargetDirectories.txt
/android/app/.cxx/Debug/4a1t4t60/armeabi-v7a/CMakeFiles/TargetDirectories.txt
/android/app/.cxx/Debug/4a1t4t60/x86/CMakeFiles/TargetDirectories.txt
/android/app/.cxx/Debug/4a1t4t60/x86_64/CMakeFiles/TargetDirectories.txt
